body
{
    background-color:rgb(40, 40, 40);
    color: white;
}

.hello-world
{
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
    
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100px;
}

#google-link
{
    display: flex;
    justify-content: center;

    color: white;
    font-size: 50px;
}

.amazon-paragraph
{
    display: flex;
    justify-content: center;
    
    background-color: white;
    color: black;
    font-size: 50px;
    border: 10px solid lightgoldenrodyellow;
    padding: 25px;
}